body{
    display:flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url('/images/ferenc-horvath-unsplash.jpg');
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    text-align: center;
    color: #dbcd90;
    font-family: "Kode Mono", monospace;
    line-height: 1.5;
}
.img-top-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
    transition: opacity 0.5s ease;

}
.img-top-container img:hover{
    opacity: 3.5;
}
.nebula{
    width: 10%;
    border-radius: 40%;
    opacity: 0.68;
}
h1{
    font-weight: bolder;
letter-spacing: 15px;
}
h2{
    font-weight:bold;
    letter-spacing: 5px;
}
